@import 'tailwindcss';

@theme {

  --color-Purple: hsl(246, 80%, 60%);
  --color-Work: hsl(15, 100%, 70%);
  --color-Play: hsl(195, 74%, 62%);
  --color-Study: hsl(348, 100%, 68%);
  --color-Exercise: hsl(145, 58%, 55%);
  --color-Social: hsl(264, 64%, 52%);
  --color-SelfCare: hsl(43, 84%, 65%);

  --color-Navy-950: hsl(226, 43%, 10%);
  --color-Navy-900: hsl(235, 46%, 20%);
  --color-Purple-500: hsl(235, 45%, 61%);
  --color-Navy-200: hsl(236, 100%, 87%);

  --font-weight: 300, 400, 500;

}

body {
  min-height: 100vh;
  max-height: 100%;
  background: var(--color-Navy-950);
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}
